.quienes-somos-container {
  background-color: var(--background-color-blur);
  color: var(--text-color);
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  .title {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 600;
  }

  .subtitle {
    color: var(--secondary-color);
    font-size: 18px;
    margin-top: 4px;
  }

  .section {
    margin-top: 20px;

    h2 {
      color: var(--primary-color);
      font-size: 24px;
      margin-bottom: 10px;
    }

    h3 {
      color: var(--secondary-color);
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 16px;
      line-height: 1.6;
    }

    mat-list-item {
      align-items: start;

      mat-icon {
        color: var(--primary-color);
        margin-top: 4px;
      }

      span {
        font-size: 16px;
      }
    }
  }

  mat-divider {
    margin: 20px 0;
    border-color: var(--secondary-color);
  }

  mat-expansion-panel {
    background-color: var(--card-background);
    color: var(--text-color);
    margin-bottom: 10px;

    .mat-expansion-panel-header {
      background-color: var(--primary-color);
      color: #fff;
    }

    .mat-expansion-panel-content {
      background-color: var(--background-color);
    }

    p {
      padding: 10px 0;
    }
  }
}

mat-panel-title{
  color: var(--text-backgroud-color)
}