<div class="container">
    <h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h1>
    
    <div class="content">
      <div class="image-placeholder">
        <p>image</p>
      </div>
      <div class="text-section">
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <div class="solutions">
          <div class="solution">
            <input type="checkbox" id="solucion1">
            <label for="solucion1">solución 1</label>
          </div>
          <div class="solution">
            <input type="checkbox" id="solucion2">
            <label for="solucion2">solución 2</label>
          </div>
          <div class="solution">
            <input type="checkbox" id="solucion3">
            <label for="solucion3">solución 3</label>
          </div>
          <div class="solution">
            <input type="checkbox" id="solucion4">
            <label for="solucion4">solución 4</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  