<div class="registro-container">
  <div class="crear-cuenta-container">
    <div class="header">
      <mat-icon>diamond</mat-icon>
      <h2>NuevoLosLagos</h2>
      <h3>Crear nueva cuenta</h3>
    </div>
  
    <div class="card-container">
      <mat-card class="account-card" routerLink="/registro-proveedor">
        <mat-card-title>Crear cuenta para Proveedores</mat-card-title>
        <mat-card-content>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="account-card" routerLink="/registro-empresa">
        <mat-card-title>Crear cuenta para Empresas de los lagos</mat-card-title>
        <mat-card-content>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="account-card" routerLink="/registro-persona">
        <mat-card-title>Crear cuenta Personal</mat-card-title>
        <mat-card-content>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="buttons-general">
      <button class="btn-secondary" mat-button routerLink="/">
        Volver
      </button>
    </div>
  </div>
</div>