.registro-formulario {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/assets/img-fondo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .content {
    flex: 1;
    padding: 12px;
    align-content: center;
    align-self: center;
    width: 100%;
    max-width: 600px; // Para centrar el formulario en pantallas grandes
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .volver-button {
      color: var(--primary-color);
      background-color: var(--background-color-blur);
      -webkit-backdrop-filter: blur(17px);
      backdrop-filter: blur(17px);
    }

    .registrar-button {
      background-color: var(--primary-color);
      color: #fff;
    }

    button {
      width: 48%;
    }
  }

  .account-card {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 0.6s ease-out forwards;
    background-color: var(--background-color-blur);
    backdrop-filter: blur(17px);

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    }
  
    mat-card-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
      color: var(--primary-color);
    }
  
    mat-form-field {
      width: 100%;
      margin-bottom: 15px;
    }
  
    .full-width {
      width: 100%;
    }

    .file-input-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      label {
        margin-bottom: 5px;
        font-weight: 500;
        color: var(--primary-color);
      }

      input[type="file"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
      }

      mat-error {
        color: red;
        font-size: 12px;
      }
    }

    .rating-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      label {
        margin-bottom: 5px;
        font-weight: 500;
        color: var(--primary-color);
      }

      .stars {
        display: flex;
        align-items: center;

        mat-icon {
          cursor: pointer;
          font-size: 32px;
          color: #ccc;
          transition: color 0.2s;

          &.active {
            color: var(--primary-color);
          }

          &:hover {
            color: var(--primary-color);
          }
        }
      }

      mat-error {
        color: red;
        font-size: 12px;
        margin-top: 5px;
      }
    }
  }
  
  /* Animación de Fade-In */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
