.buscador-container {
  padding: 20px;
  background-color: var(--background-color-blur);
  color: var(--text-color);
  margin: 20px;
  border-radius: 8px;
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  .title {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 600;
    display: flex;
    gap: 8px;

    p{
      cursor: pointer;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

    .search-field {
      flex: 1;
      margin-right: 10px;
    }

    .search-button {
      background-color: var(--primary-color);
      color: white;
      margin-top: -20px;
      border-radius: 4px;
    }
  }

  .recomendaciones {
    display: grid;
    align-items: center;
    overflow: hidden;
    margin: 0px 0px;

    .recomendacion-box{
      text-align: -webkit-center;
      display: ruby;
    }

    mat-card-subtitle{
      font-weight: 600;
      color: var(--text-color);
    }

    .recomendacion {
      margin: 0 0; // Aumentar margen lateral
      flex: 0 0 auto;
      max-width: 340px;
    }

    .prev-button,
    .next-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 24px;
    }
  }

  h2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .only-search{
    padding: 0;
    padding: 0;
    max-height: 80vh;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color, var(--primary-color)) var(--scrollbar-track-color, #f1f1f1);
  }

  .resultado {
    border-top: 1px solid #ccc;
    text-align-last: left;

    a{
      text-decoration: unset;
    }

    mat-card {
      margin-bottom: 10px;
    }
  }

  .listar-todos {
    margin-top: 20px;
  }

  /* Estilos Responsivos */
  @media (max-width: 768px) {
    padding: 10px;
    margin: 10px;

    .title {
      font-size: 24px; // Tamaño de fuente más pequeño en pantallas pequeñas
    }

    .search-bar {
      flex-direction: row; // Cambiar a columna en pantallas pequeñas
      align-items: stretch;
      gap: 8px;

      .search-field {
        margin-right: 0;
        margin-bottom: 10px; // Espacio entre campo de búsqueda y botón
      }

      .search-button {
        margin-top: 0px; 
      }
    }

    .recomendaciones {
      flex-direction: column; // Cambiar a columna en pantallas pequeñas

      .recomendacion {
        margin: 0 0; // Espacio vertical entre recomendaciones
      }

      .recomendacion-box{
        display: ruby;
      }
    }

    h2 {
      font-size: 18px; // Tamaño de fuente más pequeño en pantallas pequeñas
    }

    .resultado {
      padding: 8px; // Menos padding en pantallas pequeñas
    }

    .listar-todos {
      font-size: 14px; // Tamaño de fuente más pequeño para el botón
    }
  }

  @media (max-width: 480px) {
    padding: 8px;
    margin: -8px;
    .title {
      font-size: 1em; // Tamaño de fuente más pequeño en pantallas muy pequeñas
    }

    .search-bar {
      .search-button {
        font-size: 14px; // Tamaño de fuente más pequeño para el botón
      }
    }

    h2 {
      font-size: 16px; // Tamaño de fuente más pequeño en pantallas muy pequeñas
    }

    .recomendaciones{
      display: grid;

      .recomendacion-box{
        display: ruby;
        text-align: start;
      }
  
      .recomendacion{
        margin: 0 0;
      }
    }
  }
}


.articles-container{
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    display: ruby;
  }
  
  .transparent-toolbar{
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    justify-content: space-between;
    color: var(--text-background-color);
    margin: 10px;
    max-width: 260px;
    padding: 24px;
    cursor: pointer;

    transition: transform 0.3s;

    &:hover {
      background-color: var(--text-background-color); /* Cambia el color de fondo si lo deseas */
      color: var(--primary-color);
    }
  
    /* Animación para el ícono */
    .animated-icon {
      display: inline-block;
      transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    }
  
    &:hover .animated-icon {
      transform: rotate(360deg); /* Rotar el ícono */
      color: var(--primary-color); /* Cambiar el color del ícono si lo deseas */
    }
  }
}