<!-- buscador.component.html -->
<mat-card class="buscador-container">
  <mat-card-header>
    <mat-card-title class="title">
      <p routerLink="/" routerLinkActive="active">Inicio</p>
      <p>/</p>
      {{name}}
    </mat-card-title>
  </mat-card-header>

    <div class="articles-container" routerLink="/modelo">
      <div class="transparent-toolbar" style="display: flex;max-width: 820px;@media (max-width: 768px) {
        max-width: 260px;
      }" >
        <mat-icon class="animated-icon">assessment</mat-icon>
        <span class="toolbar-title">Registrate como empresa y completa tu modelo de madurez</span>
    </div>
    </div>

  
  <div class="recomendaciones" *ngIf="enableRecomendacion.includes(entityType) && recomendaciones.length && isLoggedIn && rolUsuario==='empresa'">
    <mat-card-subtitle>Recomendados según tu modelo de madurez tecnológico:</mat-card-subtitle>
    <div class="recomendacion-box">
      <div class="recomendacion" *ngFor="let recomendacion of recomendaciones">
        <app-article-card [routerLink]="['/', entityType, getRouteParam(recomendacion?.id, getTitle(entityType,recomendacion))]"
          [title]="getTitle(entityType,recomendacion)"
          [description]="getDescription(entityType,recomendacion) | truncate:100:true">
        </app-article-card>
      </div>
    </div>
  </div>

  <div class="search-bar">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Buscar...</mat-label>
      <input matInput type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" (keyup.enter)="onSearch()" />    </mat-form-field>
    <button mat-fab class="search-button" (click)="onSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <h2 class="resultado">Resultados de búsqueda:</h2>
  <div class="only-search">
    <p *ngIf="items&& !items?.length">No hay coincidencias</p>
    <div class="resultado" *ngFor="let resultado of items">
      <a [routerLink]="['/', entityType, getRouteParam(resultado?.id, getTitle(entityType,resultado))]" class="resultado-link">
        <app-article-card [title]="getTitle(entityType,resultado)" [description]="getDescription(entityType,resultado) | truncate:100:true">
        </app-article-card>
      </a>
    </div>
    
    <!--
    <button mat-raised-button color="primary" class="listar-todos" (click)="listarTodo()">
      Listar todos los de la categoría
    </button>
    -->
  </div>
</mat-card>
