<!-- buscador.component.html -->
<mat-card class="buscador-container">
  <mat-card-header>
    <mat-card-title class="title">
      <p routerLink="/" routerLinkActive="active">Inicio</p>
      <p>/</p>
      {{name}}
    </mat-card-title>
  </mat-card-header>

  <div class="search-bar">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Buscar...</mat-label>
      <input matInput type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" />    </mat-form-field>
    <button mat-fab class="search-button" (click)="onSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="recomendaciones" *ngIf="enableRecomendacion.includes(entityType) && recomendaciones.length">
    <mat-card-subtitle>Recomendados según tu modelo de madurez tecnológico:</mat-card-subtitle>
    <div class="recomendacion-box">
      <div class="recomendacion" *ngFor="let recomendacion of recomendaciones">
        <app-article-card [routerLink]="['/', entityType, getRouteParam(recomendacion.id, recomendacion.title)]"
          [title]="recomendacion.title"
          [description]="recomendacion.description.length > 100 ? (recomendacion.description | slice:0:100) + '...' : recomendacion.description">
        </app-article-card>
      </div>
    </div>
  </div>

  <h2 class="resultado">Resultados de búsqueda:</h2>
  <div class="resultado" *ngFor="let resultado of items">
    <a [routerLink]="['/', entityType, getRouteParam(resultado.id, resultado.title)]" class="resultado-link">
      <app-article-card [title]="resultado.title" [description]="resultado.description.length > 100 ? (resultado.description | slice:0:100) + '...' : resultado.description">
      </app-article-card>
    </a>
  </div>
  
  <!--
  <button mat-raised-button color="primary" class="listar-todos" (click)="listarTodo()">
    Listar todos los de la categoría
  </button>
  -->
</mat-card>
