<div class="login-container">
  <mat-card class="login-card">
    <div class="login-content">
      <!-- Logo y Nombre de la Empresa -->
      <div class="logo-container">
        <mat-icon>diamond</mat-icon>
        <h2>NuevoLosLagos</h2>
      </div>

      <!-- Formulario -->
      <form class="form-container">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo</mat-label>
          <input matInput type="email" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" required />
        </mat-form-field>

        <a class="forgot-password" href="#">¿Has olvidado la contraseña?</a>
      </form>
    </div>
    <div class="buttons-general">
      <button mat-button class="btn-secondary">volver</button>
      <div class="button-container">
        <button mat-flat-button color="primary">Crear cuenta</button>
        <button mat-flat-button color="accent">Acceder</button>
      </div>
    </div>
  </mat-card>
</div>
