/* Import Theme Files */
@import './themes/light-theme';
@import './themes/dark-theme';

/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Default Theme */
:root {
  @extend .light-theme;
}

/* Additional global styles can go here */
